* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    color: #f9d094;
    font-size: xx-large;
}

body {
    background: #2e2a24;
    color: #c3a373;
    font-family: "ui-sans-serif", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Roboto", sans-serif;
}

section {
    padding: 1rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

p {
    text-wrap: wrap;
    max-width: 750px;
    margin: 0 auto 1.5rem auto;
    line-height: 1.7;
    font-size: 1.1rem;
    text-align: left;
}

hr {
    border: 1px solid #928671;
    width: 90%;
    margin: 0 auto;
}

nav {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    color: #c3a373;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: x-large;
}

a:hover {
    text-decoration: underline;
}

#xenro {
    font-weight: 900;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
    border-collapse: collapse;
    background-color: #3a3428;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

th {
    background-color: #f9d094;
    color: #2e2a24;
    padding: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.1rem;
}

td {
    padding: 0.75rem 1rem;
    color: #c3a373;

}

td[data-value="3"] {
    background-color: #3f6f38;
}

td[data-value="2"] {
    background-color: #decb20;
}

td[data-value="1"] {
    background-color: #974e4e;
}

#langdef {
    display: flex;
    gap: 1rem;
    place-items: center;
}

#langdef img {
    width: auto;
    height: 50px;
}

#langval {
    color: black;
}

#data {
    align-items: start;
}